.header-text {
    background-color: var(--bg-color);
    padding: 5px 5px;
    text-align: left;
    font-size: 12px;
    color: var(--primary-color);
    height: 22px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color); 
    padding: 15px 30px;
    color: var(--bg-color);
    height: 100px;
}

.logo-section {
    flex-shrink: 0; 
}

.logo-link {
    text-decoration: none;
}

.logo-img {
    height: 40px;
}

.nav-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-section .navbar-link {
    color: var(--bg-color);
    text-decoration: none;
    font-size: 20px;
    padding: 5px 0;
    transition: color 0.3s ease;
}


.icons-section {
    display: flex;
    align-items: center;
    gap: 25px; 
    size:25px; 
    color: var(--bg-color);
}

