.user-cart-page {
    height: 88dvh;
    background-color: var(--bg-color);
    justify-content: center;
    align-items: center;
}

.inner-cart-page {
    height: 80%;
    width: 80%;
    background-color: white;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.inner-cart-page-title {
    width: 80%;
    margin-bottom: 3%;
    font-size: 32px;
}

.inner-cart-info {
    width: 80%;
    height: 70%;
}

.cart-item-cards {
    min-width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
}

.cart-total {
    margin-left: 2%;
    gap: 10%;
}