.categories-container{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    padding: 20px 20px;
    border-bottom: solid 2px var(--secondary-color);
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    padding: 20px;
}