.cart-item-card {
    width: 95%;
    gap: 6%;
    min-height: 25%;
    margin-bottom: 3%;
    flex-direction: row-reverse;
}

.cart-item-image {
    border-radius: 8px;
    max-width: 15%;
}

.cart-item-info {
    background-color: var(--primary-color);
    width: 80%;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
    color: white;
    flex-direction: row-reverse;
}

.remove-cart-item {
    background: none;
    border: none;
    color: var(--bg-color);
    font-weight: bold;
}

.remove-cart-item:hover {
    cursor: pointer;
    opacity: 90%;
    text-decoration: underline;
}